.gitignore

.venv
.vscode
vision
vision_mp

interfaceApp/TelegramBot/__pycache__
interfaceApp/__pycache__
build
ModelosCascade/Person-detection-7
ModelosCascade/street-objects-3
lbp-library
vision.bin
ModelosCascade/Personas1.0
ModelosCascade/Personas1.1
ModelosCascade/Personas
ModelosCascade/Ania
ModelosCascade/negativos
ModelosCascade/sitting-1
cascade/data
cascade/negativos
cascade/Personas
interfaceApp/videos
ModelosCascade/BEDROOM-2
ModelosCascade/Pose-5
ModelosCascade/pose--15
ModelosCascade/Personas1.3
cascade.xml
