.gitignore
.venv
.vscode
interfaceApp/__pycache__
build
EntrenamientoSVM/Person-detection-7
EntrenamientoSVM/street-objects-3
lbp-library
vision.bin
EntrenamientoSVM/Personas
EntrenamientoSVM/Ania
EntrenamientoSVM/negativos
cascade/data
cascade/negativos
cascade/Personas
interfaceApp/videos